<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/shop-owner/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Add New Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input label="Product Name" labelPlacement="stacked" [(ngModel)]="newProduct.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Price" labelPlacement="stacked" type="number" [(ngModel)]="newProduct.price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea label="Product Description" labelPlacement="stacked" [(ngModel)]="newProduct.description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label slot="start">In Stock</ion-label>
      <ion-toggle slot="end" [(ngModel)]="newProduct.inStock"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="saveProduct()">Save Product</ion-button>
</ion-content>
